<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'head.html' %}
</head>
<body>
    <div class="daily_vaults_history">

        <div class="header shadow">
            <a href="/" class="logo-container"><img alt="logo" class="logo" src="{{ url_for('static', filename='logo.png') }}"></a>
            <div class="title-form-container">
                <div class="title-container">
                    <div class="main_title">MCD Vaults Tracker</div>
                    <div class="refresh">Vaults history</div>
                </div>
            </div>
        </div>


            <div class="right_panel shadow">
                <div id="table_container">

                    <h3 style="margin-top: 2px; ">Vaults history</h3>

                    <div class="right-box">
                        <input id='date-picker' type='date' />
                    </div>

                    <div class="right-box">
                        <table id="sorted-table" class="simple-table dataTable no-footer" style="width:99%">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Vault</th>
                                    <th>Ilk</th>
                                    <th>Collateral</th>
                                    <th>Principal</th>
                                    <th>Debt</th>
                                    <th>Paid fees</th>
                                    <th>Withdraw</th>
                                    <th>Deposit</th>
                                    <th>Principal generate</th>
                                    <th>Principal payback</th>
                                    <th>Debt generate</th>
                                    <th>Debt payback</th>
                                    <th>Accrued fees</th>
                                </tr>
                            </thead>
                        </table>
                        </div>

                    </div>
                </div>
            </div>

        <div class="footer shadow">
            {% include 'footer.html' %}
        </div>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script nonce="{{ csp_nonce() }}">



        $(document).ready(function(){
            var now = new Date();
            now.setDate(now.getDate() - 1); 
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var yesterday = now.getFullYear()+"-"+(month)+"-"+(day) ;

            $('#date-picker').val(yesterday);

            $.ajax({
                url: '/data/daily_history/' +  $('#date-picker').val(),
                method: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function (msg) {
                    if (msg.status === "success") {
                        const data = msg.data
                        var main_table = $('#sorted-table').DataTable( {
                            data: data,
                            autoWidth: false,
                            columns: [
                                { 
                                    data: "day",
                                    render: function(data, type, row) {
                                        if(type === "sort" || type === "type"){
                                            return data;
                                            }
                                        return moment(data).format("YYYY-MM-DD");
                                    }
                                },
                                { data: "vault" },
                                { data: "ilk" },
                                { data: "collateral_eod" },
                                { data: "principal_eod" },
                                { data: "debt_eod" },
                                { data: "fees_eod" },
                                { data: "withdraw" },
                                { data: "deposit" },
                                { data: "principal_generate" },
                                { data: "principal_payback" },
                                { data: "debt_generate" },
                                { data: "debt_payback" },
                                { data: "fees" }
                            ],
                            order: [[ 1, "desc" ]],
                            lengthMenu: [ [20, 50, 100, -1], [20, 50, 100, "All"] ],
                            pageLength: 50,
                            dom: 'lBfrtip',
                            buttons: [ {
                                extend: 'csv',
                                text: 'Export to CSV',
                                filename: 'Vaults daily history',
                                exportOptions: {
                                    modifier: {
                                        search: 'none'
                                    }
                                }
                            } ],
                        });
                    } else {
                        console.log('#ERR');
                    }
                }
            });
        });

        $("#date-picker").on("change",function(){
            var main_table = $('#sorted-table');
            main_table.DataTable().destroy()
        });

    </script>

   
</body>
</html>