<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>MCD Vaults Tracker</title>
</head>
<body>

    <div class="dashboard">

        <div class="header shadow">
            {% include 'header.html' %}
        </div>

        <div class="split-contents">
            <div class="left_panel shadow">

                <div id="data_html">
                    <div>
                        <div class="loader" style="margin-top: 40%; margin-left: auto; margin-right: auto;"></div>
                    </div>
                </div>

                <div id="graph-box-2" style="visibility: hidden; width: 100%;">
                    <div class="kpi shadow">
                            <!-- <h3 style="margin-top: 30px; margin-left: 10px;">DAI collateral split</h3> -->
                            
                            <div class="inner_left" style="max-width: 642px;" id="pie">
                                
                                <script nonce="{{ csp_nonce() }}">
                                    let pie = {{plot | safe}};
                                    Plotly.plot('pie', pie, {});
                                </script>

                            </div>

                    </div>
                </div>

                <div id="graph-box-1" style="visibility: hidden; width: 100%;">
                    <div class="kpi shadow">
                   
                    <div class="inner_left" style="max-width: 642px;" id="bar">
                        
                        <script nonce="{{ csp_nonce() }}">
                            let bar = {{plot | safe}};
                            Plotly.plot('bar', bar, {});
                        </script>
                    </div>
                    </div>
                </div>

            </div>

            <div class="right_panel shadow">
                <div id="table_container" style="visibility: hidden;">
                    <div><h3 style="margin-top: 2px; ">Collaterals list<span id="list_num"></span>:</h3></div>
                    <div class="right-box">
                        <table id="sorted-table" class="display nowrap" style="width:99%">
                            <thead>
                                <tr>
                                    <th>Colla-<br>teral</th>
                                    <th>Active<br>vaults</th>
                                    <th>Total<br>vaults</th>
                                    <th>Locked<br>value (USD)</th>
                                    <th>Total<br>debt (DAI)</th>
                                    <th>Available<br>debt (DAI)</th>
                                    <th>Available<br>collateral</th>
                                    <th>Coll.<br>%</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div id='cover' class="loader" style="margin-top: 20%; margin-left: auto; margin-right: auto;"></div>

            </div>

        </div>

        <div class="footer shadow">
            {% include 'footer.html' %}
        </div>

    </div>

    <script nonce="{{ csp_nonce() }}">

        $(document).ready(function() {

            $.ajax({
                url: "/data/main",
                method: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function (msg) {

                    if (msg.status === "success") {

                        const data = msg.data

                        $('#sorted-table').DataTable( {
                            data: data['collaterals'],
                            autoWidth: false,
                            columns: [
                                { data: "COLLATERAL" },
                                { data: "ACTIVE_VAULTS", width: '45px' },
                                { data: "TOTAL_VAULTS", width: '45px' },
                                { data: "LOCKED_VALUE", width: '110px' },
                                { data: "TOTAL_DEBT", width: '110px' },
                                { data: "AVAILABLE_DEBT", width: '95px' },
                                { data: "AVAILABLE_COLLATERAL", width: '90px' },
                                { data: "COLLATERALIZATION", width: '50px' }
                            ],
                            order: [[ 4, "desc" ]],
                            paging: false,
                            searching: false,
                            bInfo : false,
                            dom: 'lBfrtip',
                            buttons: [ {
                                extend: 'csv',
                                text: 'Export to CSV',
                                filename: 'Collaterals',
                                exportOptions: {
                                    modifier: {
                                        search: 'none'
                                    }
                                }
                            } ]
                        });

                        $( "#sorted-table" ).removeClass();
                        $( "#sorted-table" ).addClass("simple-table");
                        $( "#sorted-table" ).addClass("dataTable");
                        $( "#sorted-table" ).addClass("no-footer");
                        $( "#cover" ).css("display", "none");
                        $( "#table_container" ).css("visibility", "visible");
                        

                        const pie = JSON.parse(data.pie);
                        var pie_layout = {
                                        autosize: false,
                                        width: 500,
                                        height: 400,
                                        title: {text: 'DAI collateral split'}
                                    };
                        Plotly.newPlot('pie', pie.data, pie_layout);

                        var bar_layout = {
                                        autosize: false,
                                        width: 500,
                                        height: 400,
                                        title: {text: 'Value locked (USD) & debt (DAI) split by vault type'},
                                        xaxis: {tickangle: 20}
                                    };

                        const bar = JSON.parse(data.bar);
                        Plotly.newPlot('bar', bar.data, bar_layout);


                        $("#data_html").html(`
                            <div class="kpi shadow">
                                <div class="inner_left">
                                    <div class="kpi_label">Number of active vaults:</div>
                                    <span class="expose">` + data['active_num'] + `</span> (total: ` + data['vaults_num'] + `)
                                </div>
                                <div class="inner_right">
                                    <div class="right-bottom" style="font-size: 12px;">
                                        Number of owners: <b>` + data['owners'] + `</b><br>
                                        Active owners: <b>` + data['active_owners'] + `</b><br>
                                    </div>
                                </div>
                            </div>
                            <div class="kpi shadow">
                                <div class="inner_left">
                                    <div class="kpi_label">Total debt:</div>
                                    <span class="expose">` + data['total_debt'] + `</span> DAI
                                </div>
                                <div class="inner_right">
                                    <div class="right-bottom" style="font-size: 12px;">
                                        Debt ceiling: <b>` + data['debt_ceiling'] + `</b> DAI<br>
                                        Debt ceiling utilization: <b>` + data['debt_utilization'] + `</b><br>
                                        System debt: <b>` + data['sin'] + `</b> DAI
                                    </div>
                                </div>
                            </div>
                            <div class="kpi shadow">
                                <div class="inner_left">
                                    <div class="kpi_label">Total collateralization:</div>
                                    <span class="expose">` + data['collateralization'] + `</span><br>
                                </div>
                                <div class="inner_right">
                                    <div class="right-bottom" style="font-size: 12px;">
                                        Total locked value: <b>` + data['locked_value'] + `</b> USD<br>
                                        Available collateral: <b>` + data['available_collateral'] + `</b> USD<br>
                                        Available debt: <b>` + data['available_debt'] + `</b> DAI<br>
                                    </div>
                                </div>
                                <div class="part_line" style="width: {{ coll_ratio }}%"></div>
                            </div>
                        `)

                        $( "#data_html" ).css("display", "contents");
                        $( "#graph-box-1" ).css("visibility", "visible");
                        $( "#graph-box-2" ).css("visibility", "visible");
                        $( "#list_num" ).text(" (" + data['collaterals_num'] + ")");
                        $('.main-svg').each(function() {
                            $(this).css("background-color", "transparent");
                        });
                        $('.bg').each(function() {
                            $(this).css("fill", "#fcfcfc");
                        });
                     } else {
                        const error_message = `
                        <div style="padding: 10px; margin-bottom: 50px">
                            <h2>There was a problem while fetching data :(<br>
                            Please try again</h2>
                        </div>`;
                        $( "#data_html" ).html(error_message);
                        $( "#table_container" ).html(error_message);
                    }

                },
                error: function (ex) {
                    const error_message = `
                    <div style="padding-left: 50px; margin-top: 50px; margin-bottom: 50px">
                        <h2>Something went wrong :(<br>
                        Try again later</h2>
                    </div>`;
                    $( "#dashboard" ).html(error_message);
                }
            });
        });

    </script>

</body>
</html>