<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tf_apps.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dataTables.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MCD Vaults Tracker</title>
</head>
<body>

    <div class="dashboard">

        <div class="header shadow">
            {% include 'header.html' %}
        </div>

        <div class="split-contents">
            <div class="left_panel shadow">

                <div class="kpi shadow">
                    <div>
                        <div class="kpi_label">Owner:</div>
                        <span class="expose">{{ owner_id | truncate(25, True) }}</span><br>
                    </div>
                </div>

                <div id="data_html">
                    <div>
                        <div class="loader" style="margin-top: 40%; margin-left: auto; margin-right: auto;"></div>
                    </div>
                </div>

                {% if plot %}
                    <div id="graph-box" class="left-box" style="visibility: hidden;">
                        <div class="chart" id="graph1">
                            <script nonce="{{ csp_nonce() }}">
                                let graph1 = {{plot | safe}};
                                Plotly.plot('graph1', graph1, {});
                            </script>
                        </div>
                    </div>
                {% endif %}

            </div>

            <div class="right_panel shadow">
                <div id="table_container" style="visibility: hidden;">
                    <div><h3 style="margin-top: 2px; ">{{ owner_id }} vaults list <span id='vaults_num'></span>:</h3></div>
                    <div class="right-box">
                        <table id="sorted-table" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Vault</th>
                                    <th>Collateral</th>
                                    <th>Locked<br>amount</th>
                                    <th>Total<br>debt (DAI)</th>
                                    <th>Coll.<br>%</th>
                                    <th>Liq.<br>price</th>
                                    <th>Available<br>debt (DAI)</th>
                                    <th>Available<br>collateral</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div id='cover' class="loader" style="margin-top: 20%; margin-left: auto; margin-right: auto;"></div>
            </div>

        </div>

        <div class="footer shadow">
            {% include 'footer.html' %}
        </div>

    </div>

    <script nonce="{{ csp_nonce() }}">

        $(document).ready(function() {

            const url = window.location.href;
            const u = new URL(url);
            const owner = (u.pathname.substring(u.pathname.lastIndexOf('/') + 1));

            $.ajax({
                url: "/data/owner/" + owner,
                method: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function (msg) {

                    if (msg.status === "success") {

                        const data = msg.data

                        $('#sorted-table').DataTable( {
                            data: data['vaults'],
                            autoWidth: false,
                            columns: [
                                { data: "VAULT", width: '65px' },
                                { data: "COLLATERAL" },
                                { data: "LOCKED_AMOUNT", width: '80px' },
                                { data: "TOTAL_DEBT", width: '85px' },
                                { data: "COLLATERALIZATION", width: '50px' },
                                { data: "LIQUIDATION_PRICE", width: '60px' },
                                { data: "AVAILABLE_DEBT", width: '85px' },
                                { data: "AVAILABLE_COLLATERAL", width: '80px' },
                            ],
                            order: [[ 3, "desc" ]],
                            lengthMenu: [ [20, 50, 100, -1], [20, 50, 100, "All"] ],
                            pageLength: 20,
                            dom: 'lBfrtip',
                            buttons: [ {
                                extend: 'csv',
                                text: 'Export to CSV',
                                filename: owner + ' vaults',
                                exportOptions: {
                                    modifier: {
                                        search: 'none'
                                    }
                                }
                            }],
                            language: {
                              "emptyTable": "No vaults found..."
                            },
                            initComplete: function() {
                              if (this.api().page.info().pages <= 1) {
                                $('#sorted-table_length').hide();
                                $('#sorted-table_paginate').hide();
                                $('#sorted-table_info').hide();
                              }
                              if (this.api().page.info().pages === 0) {
                                $('#sorted-table_filter').hide();
                              }
                            }
                        });

                        $( "#sorted-table" ).removeClass();
                        $( "#sorted-table" ).addClass("simple-table");
                        $( "#sorted-table" ).addClass("dataTable");
                        $( "#sorted-table" ).addClass("no-footer");
                        $( "#cover" ).css("display", "none");
                        $( "#table_container" ).css("visibility", "visible");

                        if (data.plot != null) {
                            const plot = JSON.parse(data.plot);
                            Plotly.newPlot('graph1', plot.data, plot.layout);
                            $( "#graph-box" ).css("visibility", "visible");
                        }

                        const locked_amounts_array = data['locked_amounts'];
                        let locked_amounts_html = '';
                        locked_amounts_array.forEach(function( entry ) {
                            locked_amounts_html = locked_amounts_html + 'Locked amount: <b>' + entry[1] + '</b> ' + entry[0] + '<br>'
                        });

                        const available_collaterals_array = data['available_collaterals'];
                        let available_collaterals_html = '';
                        available_collaterals_array.forEach(function( entry ) {
                            available_collaterals_html = available_collaterals_html + 'Available collateral: <b>' + entry[1] + '</b> ' + entry[0] + '<br>'
                        });

                        $("#data_html").html(`
                            <div class="kpi shadow">
                                <div class="inner_left">
                                    <div class="kpi_label">Number of active vaults:</div>
                                        <span class="expose">` + data['active_num'] + `</span> (total: ` + data['vaults_num'] + `)
                                </div>
                                <div class="inner_right">
                                    <div class="right-bottom" style="font-size: 12px;">
                                        ` + locked_amounts_html + `
                                        Locked value: <b>` + data['locked_value'] + `</b> USD<br>
                                    </div>
                                </div>
                            </div>
                            <div class="kpi shadow">
                                <div>
                                    <div class="kpi_label">Total debt:</div>
                                    <span class="expose">` + data['total_debt'] + `</span> DAI
                                </div>
                            </div>
                            <div class="kpi shadow" id="coll_kpi">
                                <div class="inner_left">
                                    <div class="kpi_label">Total collateralization:</div>
                                    <span class="expose">` + data['collateralization'] + `</span><br>
                                </div>
                                <div class="inner_right">
                                    <div class="right-bottom" style="font-size: 12px; height: auto;">
                                        ` + available_collaterals_html + `
                                        Available debt: <b>` + data['available_debt'] + `</b> DAI<br>
                                    </div>
                                </div>
                                <div class="part_line"></div>
                            </div>
                        `)

                        $("#data_html").css("display", "contents");
                        $("#vaults_num").text("(" + data['vaults_num'] + ")");

                        if (data['collateralization'] === '-') {
                            $('#coll_kpi').hide();
                            $('#graph1').hide();
                        }

                    } else {
                        const error_message = `
                        <div style="padding: 10px; margin-bottom: 50px">
                            <h2>There was a problem while fetching data :(<br>
                            Please try again.</h2>
                        </div>`;
                        $( "#data_html" ).html(error_message);
                        $( "#table_container" ).html(error_message);
                    }

                },
                error: function (ex) {
                    const error_message = `
                    <div style="padding-left: 50px; margin-top: 50px; margin-bottom: 50px">
                        <h2>Something went wrong :(<br>
                        Try again later</h2>
                    </div>`;
                    $( "#dashboard" ).html(error_message);
                }
            });
        });

    </script>
</body>
</html>